---
# yaml-language-server: $schema=https://www.schemastore.org/yamllint.json
extends: default

ignore: |
  .github/
  .pre-commit-config.yaml

rules:
  line-length: disable

  document-end:
    level: error
  document-start:
    level: error

...
