---
name: testing

"on":
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@v4

      - name: Lint yaml
        uses: actionhippie/yamllint@v1
        with:
          strict: true

      - name: Update version
        id: version
        uses: nowactions/update-majorver@v1
        if: startsWith(github.ref, 'refs/tags/v')

...
