---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: testing

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - v*

permissions:
  contents: write

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Lint yaml
        uses: actionhippie/yamllint@1e187a11c123bb3c018c030fbe81168843d5ad17 # v1
        with:
          strict: true

      - name: Update version
        uses: nowactions/update-majorver@f2014bbbba95b635e990ce512c5653bd0f4753fb # v1
        if: startsWith(github.ref, 'refs/tags/v')

...
